{% if data %}
<label class="control-label">Style Costing</label>
			<div class="form-grid">
				<div class="grid-heading-row">
                    <div class="grid-row">
                        <div class="data-row row">
                            <table style="margin-bottom:0px;margin-top:0px;" id="fixed-table" class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                    <tr>
                                        {% for table_head in data.heading %}
                                            <th style="text-align:center;"> {%= table_head %}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody> 
                                 {% for column_val in data.col_data %}
                                <tr>
                                    <td style="text-align:left;">
                                        {% if column_val.is_bold  %}
                                            <strong>
                                                {%= column_val.cost_head %}						
                                            </strong>
                                      
                                        {% else %}
                                        
                                            {%= column_val.cost_head %}						
                                        {% endif %}
                                       
                                    </td>
                                    <td style="text-align:center;">
                                        {%= column_val.cost_percent %}						
                                    </td>
                                    <td style="text-align:center !important;">
                                        {%= column_val.cost_our %}						
                                    </td>
                                    <!--<td style="text-align:center;">
                                        {%= column_val.cost_buyer %}						
                                    </td> -->
                                    {% if 'currency_our' in column_val %}
                                        <td style="text-align:center;">
                                            {%= column_val.currency_our %}						
                                        </td>
                                    {% endif %}
                                     {% if 'currency_buyer' in column_val %}
                                        <!-- <td style="text-align:center;">
                                            {%= column_val.currency_buyer %}						
                                        </td> -->
                                    {% endif %}
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>                          
                        </div>
                    </div>
                </div>
				
			</div>
{% endif %}
